* {
	box-sizing: border-box;
	
}

a {
	text-decoration: none;
	color: black;


}

html {
	font-family: "Open Sans", sans-serif;
	font-size: 62.5%;
}

body {
	
	font-family: "Open Sans", sans-serif;
	background-color: #f2f2f2;
}

/*Header*/

header {
	width: 100%;
	background-color: #111111;	
}

.topbar {
	height: 80px;
}
.logo {
	height: 60px;
	float: left;
	margin:10px 5.83% 10px 5.83%;
}

.profile {
	float: right;
	margin:0px 5.83% 0px 5.83%;

}

header span {
	color: white;
	font-size: 2em;
	display: inline-block;
	line-height: 80px;
	margin-right: 12px;
	
}


.profilepic {
	float: right;
	height: 60px;
	border-radius: 50%;
	margin-top: 10px;
	
}

.navbar {
	background-color: #2a3137;
	height: 80px;
	width: 100%;
	margin: 0 auto;
	display: inline-block;	

}

header ul {
	display: inline-block;
	float: right;
	list-style: none;
	font-size: 2em;
	height: 80px;
	
}

header ul li {
	display: inline-block;
	float: right;
	margin-top: 32px;
	list-style: none;
	margin-right: 3.4em;
	
}

.navbar b {
	color: #fdba2b;
}

header a {
	color: white;
}


header nav img {
	height: 33px;
	margin-top: 25px;
	display: inline-block;
}


.search {
	margin: 0px 5.83% 0px 5.83%;
	height: 80px;
	display: inline-block;
	
	
}

.search input {
	margin-bottom: 26px;
	display: none;

}